<header class="header header login">
    <div class="container-fluid container">
        <a href="{{PRODUCT_VERSION}}" class="logo"><img ng-src="{{ST_HOST}}/images/upload/logo-antsadx.png"/></a>
        <nav class="login-nav">
            <ul>
                <li><a href="{{PRODUCT_VERSION}}">HOME</a></li>
                <li><a href="">AD EXCHANGE</a></li>
                <li><a href="">AD SERVER</a></li>
                <li><a href="http://insight.ants.vn" target="_blank">INSIGHT ANALYTICS</a></li>
                <li><a href="http://blog.ants.vn/" target="_blank">BLOG</a></li>
                <li class="end"><a href="http://wiki.ants.vn" target="_blank">WIKI</a></li>
            </ul>
        </nav>
    </div>
</header>