<aside class="sidebar">
    <header>
        <a ng-href="{{PRODUCT_VERSION}}" title="logo" class="logo"><img ng-src="{{ST_HOST}}/images/upload/logo-antsadx.png" alt="logo" /></a>
    </header>
    <ul class="campaign-step">
        <li ng-click="showStepOne()" class="" ng-class="{active: is_active_step_1, 'open-key': is_active_step_1}"><a href="javascript:void(0)">Package Info<span>Prices<br>Schedule<br>Permissions</span></a></li>
        <li ng-click="showStepTwo()" class="" ng-class="{active: is_active_step_2, 'open-key': is_active_step_2}"><a href="javascript:void(0)">Settings<span>Location<br>Deivces<br>Creative settings</span></a></li>
        <li ng-click="showStepThree()" class="" ng-class="{active: is_active_step_3, 'open-key': is_active_step_3}"><a href="javascript:void(0)">Audience<span>Audience</span></a></li>
        <li class="end"></li>
    </ul>
</aside>