<operations>
    <div class="heading-page">
        <h1 class="title-2">{{ 'Create Campaign' | translate }}</h1>
    </div>
    <div class="inner-content">
        <form name="campaignForm" novalidate ng-submit="save()">
            <div class="form-group" style="margin-bottom: 0;">
                <error-summary></error-summary>
            </div>
            <div class="create-campaign-2">
                <p>{{ "An ad group contains one or more ads and targeting methods. For best results, try to focus all the ads and targeting in this ad group on one product or service" | translate }}</p>
                <form action="#">
                    <div class="form-group">
                        <label class="label-field">{{ 'Campaign Name' | translate }}</label>
                        <div class="container-field">
                            <input type="text" placeholder="{{ 'Campaign Name' | translate }}"
                                   ng-model="campaign_info.campaign_name" required class="form-control" maxlength="255"
                                   name="campaign_name">

                            <ng-messages for="campaignForm.campaign_name.$error" ng-if="show_error">
                                <span class="error" ng-message when="required">{{'Invalid Campaign name' | translate}}</span>
                                <span class="error" ng-message when="maxlength">{{'Campaign name item name is too long' | translate}}</span>
                            </ng-messages>
                            <span class="error" ng-if="error_campaign_name_exist">{{message_error_campaign_name_exist}}</span>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="label-field">{{ payment_model.payment_model_name }} <br><b><i>
                            (Min {{on_bid_strategy}} VNĐ)</i></b></label>
                        <div class="container-field">
                            <div class="input-group">
                                <div style="display: flex;"><input type="text" name="bid_price"
                                                                   min="{{on_bid_strategy}}"
                                                                   max="{{max_bid_price}}"
                                                                   ng-model="campaign_info.bid_price" required
                                                                   placeholder="0"
                                                                   class="form-control text-right"
                                                                   maxlength="12"
                                                                   pattern="[0-9]+([\.,][0-9]+)*" adx-format-number><span
                                        class="input-group-addon">đ</span></div>

                                <ng-messages for="campaignForm.bid_price.$error" ng-if="show_error">
                                    <span class="error" ng-message when="required">{{'Bid is too low' | translate}}</span>
                                </ng-messages>
                                <span class="error" ng-if="error_min_bid_price">{{'Bid is too low' | translate}}</span>
                                <span class="error" ng-if="error_max_bid_price">{{'Bid is too large' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted">
                    <div ng-hide="isPrivateDeal">
                    <p class="text-lead">{{'Choose how to target your ads' | translate}}</p>
                    <div class="form-group">
                        <div class="radio" ng-repeat="g_target in config_group_target">
                            <label>
                                <input type="radio" ng-required="!isPrivateDeal" name="target_radio_choose" ng-model="$parent.target_radio_choose" class="icheck"
                                       ng-value="g_target.key"
                                       ng-change="changeTarget(g_target.key)"><span>{{g_target.value}}</span>
                            </label>
                        </div>
                    </div>

                    <div class="interest-block" ng-repeat-start="(index_target_selected,target_selected) in group_target_selected">
                        <choose-target ng-model="target_selected.ng_model"
                                       source="target_selected.config"
                                       is-load="true"
                                       id="target_selected.key"
                                       show-remove="index_target_selected == 0 ? false : true"
                                       remove="removeTarget(id)"
                                       ng-show="!target_selected.closed" ng-if="+target_selected.key != +group_target.demographics"
                        ></choose-target>
                        <target-demo-graphics ng-model="target_selected.ng_model"
                                              id="target_selected.key"
                                              ng-show="!target_selected.closed" ng-if="+target_selected.key == +group_target.demographics"
                                              show-remove="index_target_selected == 0 ? false : true"
                                              remove="removeTarget(id)"
                        ></target-demo-graphics>

                        <div class="right-block" ng-if="index_target_selected == 0">
                            <forecast></forecast>
                        </div>

                    </div>

                    <span ng-repeat-end class="error error_2" ng-repeat="error in target_selected.errors">
                        <span ng-if="+error == 1">
                            {{ 'Please select at least one criterion' | translate }}
                        </span>
                        <span class="error error_2" ng-if="+error == 2">
                            {{ 'The demographics targeting method has no effect on reach as all options are being targeted. ' +
                            'Please remove at least one criterion or choose another targeting method.' | translate }}</span>
                    </span>

                    <uib-accordion close-others="false" ng-show="group_target_selected.length < 4">
                        <ul class="list-collapse narrow-top">
                            <li class="clearfix">
                                <uib-accordion-group heading="Narrow your targeting further (optional)"
                                                     template-url="/js/modules/campaign/templates/shared/accordion.html">
                                    <div class="col-sm-4" style="margin-top: 10px;padding-left: 0">
                                        <!--<select class="form-control " ng-model="$parent.affinity_narrow"
                                                ng-change="selectChooseAffinity($parent)">
                                            <option value="">Select a targeting method</option>
                                            <option ng-repeat="choose_target in arr_target" value="{{choose_target.key}}"
                                                    ng-if="choose_target.show == false">{{choose_target.value}}
                                            </option>
                                        </select>-->
                                        <div class="dropdown" uib-dropdown>
                                            <button type="button" data-toggle="my-dropdown" class="btn btn-default" uib-dropdown-toggle>Select a targeting method<span class="caret"></span></button>
                                            <ul class="dropdown-menu" uib-dropdown-menu>
                                                <li ng-repeat="g_target in config_group_target" ng-hide="g_target.hidden"><a ng-click="addTarget(g_target.key)">{{g_target.value}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </uib-accordion-group>
                            </li>
                        </ul>
                    </uib-accordion>
                    </div>
                    <div ng-show="isPrivateDeal" class="wrap-table wrap-table-cus">
                        <div class="title-targeting">
                            <h4>Targeting</h4>
                        </div>
                        <div class="left-target">
                            <adx-target-viewer ng-model="campaign_target"></adx-target-viewer>
                            <!--
                            <div class="edit-targeting">
                                <ul>
                                    <li class="list-target">
                                        <div class="label-left">Topic</div>
                                        <div class="label-right">
                                            <p class="text-sm">Arts & Entertainment</p>
                                            <p class="text-sm">Autos & Vehicles</p>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="right-target">
                            <forecast></forecast>
                        </div>
                    </div>
                    <hr>
                    <div class="clearfix">
                        <a href="" class="btn btn-green pull-left" ng-click="saveCampaign()" style="margin-right: 10px;">Save and Continue</a>
                        <a href="" class="btn btn-grey pull-left" ng-click="skipCampaignCreate()">Skip campaign creation</a>
                        </div>
                </form>
                <demographic></demographic>
            </div>
        </form>
    </div>
</operations>