<div class="btn-group btn-group-target" ng-show="isBuyer">
    <button type="button" ui-sref-active="active" ui-sref="campaigns.campaign.detail.target.summary" class="btn btn-default">Summary</button>
    <button type="button" ui-sref-active="active" ui-sref="campaigns.campaign.detail.target.section" class="btn btn-default">Sections</button>
    <button type="button" ui-sref-active="active" ui-sref="campaigns.campaign.detail.target.topic" class="btn btn-default">Topics</button>
    <button type="button" ui-sref-active="active" ui-sref="campaigns.campaign.detail.target.audience" class="btn btn-default">Interests & remarketing</button>
    <button type="button" ui-sref-active="active" ui-sref="campaigns.campaign.detail.target.demographic" class="btn btn-default">Demographics</button>
</div>